<div class="d-flex justify-content-between align-items-center about-wrap container-md">
  <div class="left-wrap d-flex">
    <img src="assets/logo.png" alt="logo">
    <div class="d-flex flex-column justify-content-between">
      <div class="bold-16">8 800 841-95-95</div>
      <small>Служба поддержки</small>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <div class="bold-16">support&#64;sport.ru</div>
      <small>Служба поддержки</small>
    </div>
  </div>

  <div class="right-wrap d-flex h-100 align-items-center">
    <div class="bold-16">Вакансии</div>
    <div class="bold-16">Блог</div>
    <div class="bold-16">Акции</div>

    <div class="h-100 btn-wrap">
      <app-info-btn btnClass="rounded-2">
        Предложить идею
      </app-info-btn>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="nav-grid container-md">
  <div>
    <p class="bold-16">Женщинам</p>
    <div class="link-item">Одежда</div>
    <div class="link-item">Обувь</div>
    <div class="link-item">Аксессуары</div>
    <div class="link-item">Белье</div>
    <div class="link-item">Bra fitting</div>
  </div>
  <div>
    <p class="bold-16">Мужчинам</p>
    <div class="link-item">Одежда</div>
    <div class="link-item">Обувь</div>
    <div class="link-item">Аксессуары</div>
    <div class="link-item">Белье</div>
  </div>
  <div>
    <p class="bold-16">Детям</p>
    <div class="link-item">Одежда</div>
    <div class="link-item">Обувь</div>
    <div class="link-item">Аксессуары</div>
    <div class="link-item">Белье</div>
    <div class="link-item">Игрушки</div>
    <div class="link-item">Малыши</div>
  </div>
  <div>
    <p class="bold-16">Виды спорта</p>
    <div class="link-item">Велоспорт</div>
    <div class="link-item">Туризм</div>
    <div class="link-item">Тренажеры и фитнес</div>
    <div class="link-item">Командные виды спорта</div>
    <div class="link-item">Самокаты</div>
  </div>
</div>

<div class="divider"></div>

<div class="container-md footer">
  <div class="d-flex justify-content-center footer-links">
    <div class="d-flex align-items-center">
      <img src="assets/icons/sheet.png" alt="sheet">
      <small>PDF презентация</small>
    </div>
    <div class="d-flex align-items-center">
      <img src="assets/icons/camera.png" alt="camera">
      <small>Видео инструкция</small>
    </div>
    <div class="d-flex align-items-center">
      <img src="assets/icons/info.png" alt="info">
      <small>FAQ</small>
    </div>
    <div class="d-flex align-items-center yt">
      <img src="assets/icons/yt.png" alt="youtube">
      <small>Мы на Youtube</small>
    </div>
    <div>
      <small>Политика конфиденциальности</small>
    </div>
    <div>
      <small>Лицензионное соглашение</small>
    </div>
  </div>

  <small class="footer-policy">
    Настоящая Политика обработки персональных данных разработана в соответствии с Конституцией Российской Федерации, Трудовым кодексом Российской Федерации, Гражданским кодексом Российской Федерации, Федеральным законом от 27 июля 2006 года 149-ФЗ "Об информации, информационных технологиях и о защите информации",
  </small>

  <div class="d-flex align-items-center justify-content-center footer-logo">
    <img src="assets/logo-gray.png" alt="logo">
    <div class="bold-14">Разработка платформы</div>
  </div>
</div>
